<div class="container blog pt-5 mt-5">
  <section class="post-content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h3><%= @blog.title %></h3>
          <div class="image-block">
            <img src="<%= @blog.photo_url %>" class="img-responsive">
          </div>
          <p class="pt-1 mt-1"><%= raw @blog.blog_content %></p>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-12">
          <div class="well">
            <h2>Other Blogs</h2>
          </div>
          <% @blogs.each do |blog| %>
            <div class="well">
              <div class="media">
                <div class="media-body"><h4 class="media-heading"><%= blog.title %></h4>
                  <%= raw blog.blog_content.truncate(40) %>
                </div>
                <div class="media-left"><a href="#">
                  <img src="<%= blog.photo_url %>" class="media-object" alt="64x64" style="width: 64px; height: 64px;">
                </a></div>
              </div>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

