<header class="header_area">
  <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
    <nav class="classy-navbar" id="essenceNav">
      <a style="width: 100px; height: 80px;" class="nav-brand" href="index.html"><img style="height: 77px;" src="assets/core-img/logo.png" alt=""></a>
    </nav>

    <div class="header-meta d-flex clearfix justify-content-end">
      <div id="show-cert">
        <%= render 'shops/cart' %>
      </div>
      <% if current_client %>
        <div class="favourite-area">
          <a data-method="delete" href="/clients/sign_out"><img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/50/000000/external-logout-screen-from-the-working-portfolio-of-a-user-classic-bold-tal-revivo.png"/></a>
        </div>
      <% else %>
        <div class="favourite-area">
          <a href="/clients/sign_in"><img src="https://img.icons8.com/material-rounded/24/000000/user.png"/></a>
        </div>
      <% end %>
    </div>

  </div>
</header>

<section class="welcome_area bg-img background-overlay" style="background-image: url(<%= @cover_photo&.photo&.url %>);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
        </div>
      </div>
    </div>
  </div>
</section>
<div id="autoplay">
  <% @slid_images.each do |image| %>
    <%= image_tag image.image_url %>
  <% end %>
</div>
<section class="new_arrivals_area section-padding-80 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Popular Products</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @all_products.each do |product| %>
      <div class=" col-lg-4">
        <div class="product-img">
          <%= image_tag product.photo_url  rescue nil%>
        </div>
        <div class="product-description">
          <h6> <%= link_to product_show_path(id: product.id) do %>
              <h3> <%= product.name %></h3>
            <% end %>
            <p class="product-price">PKR <%= product.price %></p>
            <div class="add-to-cart-btn">
              <% if current_client %>
                <% certs = current_client&.certs.find_by(ordered?: false) if current_client&.certs %>
                <% if certs && certs&.cert_products.pluck(:product_id).include?(product.id) %>
                  <a id="<%= product.id %>" style="pointer-events:none; cursor:default;" onclick="saveData(<%= product.id %>)" class="btn essence-btn">Already
                    added</a>
                <% else %>
                  <a id="<%= product.id %>" onclick="saveData(<%= product.id %>)" class="btn essence-btn">Add to
                    Cart</a>
                <% end %>
              <% else %>
                <a href="/clients/sign_in" class="btn essence-btn">Add to Cart</a>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="single_widget_area d-flex mb-30">
          <div class="footer_widget_menu">
            <ul>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area mb-30">
          <ul class="footer_widget_menu">
            <li class="<%= 'hide' if !current_client %>"><a href="/all_orders">Your Orders</a></li>
            <li><a href="#">Shipping and Delivery</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-end">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_social_area">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script>
          All rights reserved.
        </p>
      </div>
    </div>

  </div>
</footer>
<script>
    var products = [];
    $(function() {
        debugger
        $('#autoplay').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    })
    function saveData(product_id) {
        var style = "pointer-events:none; cursor:default;";
        document.getElementById(product_id).setAttribute("style", style);
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/cart/show",
            data: {
                product_id,
            },
            success: function (data) {
                document.getElementById("cert-value").innerHTML = data.count
                var link = document.getElementById("essenceCartBtn")
                link.href = "/cart/show_cart/"+data.cert_id
                $("#cart_partial").removeClass("hide");
            },
        })
    }
</script>
