<header class="header_area">
  <nav class="navbar navbar-expand-lg navbar-light bg-light set-nav-pad ">
    <div class="container-fluid">
      <a class="navbar-brand remove-underline nav-btn-font-wt" style="font-size: 35px;" href="/">
        <img src="assets/core-img/logo.png" alt="" width="50" height="70" class="d-inline-block align-text-center">
        Ceutisol
      </a>
      <div class="vertical" style="border-left: 2px solid lightgrey; height: 70px;"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-2">
          <li class="nav-item nav-btn-pdg active">
            <a class="nav-link active remove-underline nav-btn-font-wt nav-btn-font-sz active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt nav-btn-font-sz  underline-hover" href="#">Products</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt nav-btn-font-sz  underline-hover" href="#">Shop</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt nav-btn-font-sz  underline-hover" href="#">Sale</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt nav-btn-font-sz  underline-hover" href="#">Contact Us</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt nav-btn-font-sz  underline-hover" href="#">Blog</a>
          </li>
<!--          <li class="nav-item nav-btn-pdg">-->
<!--            <form class="d-flex">-->
<!--              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--              <i class="fas fa-search"></i>-->
<!--              <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<!--          </li>-->
        </ul>
        <span id="show-cert">
          <%= render 'shops/cart' %>
        </span>
        <span>
      <% if current_client %>
        <div class=" nav-btn-pdg">
          <a data-method="delete" class="nav-btn-font-sz" href="/clients/sign_out"><img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/30/000000/external-logout-screen-from-the-working-portfolio-of-a-user-classic-bold-tal-revivo.png"/></a>
        </div>
      <% else %>
        <div class="nav-btn-pdg">
          <a href="/clients/sign_in" class="nav-btn-font-sz"><img src="https://img.icons8.com/material-rounded/30/000000/user.png"/></a>
        </div>
      <% end %>
      </span>
      </div>
    </div>
  </nav>
</header>
<section class="welcome_area bg-img background-overlay" style="background-image: url(<%= @cover_photo&.photo&.url %>);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
        </div>
      </div>
    </div>
  </div>
</section>
<div id="autoplay">
  <% @slid_images.each do |image| %>
    <%= image_tag image.image_url %>
  <% end %>
</div>
<section class="new_arrivals_area section-padding-80 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <!--          <h2>Popular Products</h2>-->
          <h2 class="abcd">Popular Products</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @all_products.each do |product| %>
      <div class=" col-lg-4">
        <div class="product-img">
          <%= image_tag product.photo_url rescue nil %>
        </div>
        <div class="product-description">
          <h6> <%= link_to product_show_path(id: product.id) do %>
              <h3> <%= product.name %></h3>
            <% end %>
            <p class="product-price">PKR <%= product.price %></p>
            <div class="add-to-cart-btn">
              <% if current_client %>
                <% certs = current_client&.certs.find_by(ordered?: false) if current_client&.certs %>
                <% if certs && certs&.cert_products.pluck(:product_id).include?(product.id) %>
                  <a id="<%= product.id %>" style="pointer-events:none; cursor:default;" onclick="saveData(<%= product.id %>)" class="btn essence-btn">Already
                    added</a>
                <% else %>
                  <a id="<%= product.id %>" onclick="saveData(<%= product.id %>)" class="btn essence-btn">Add to
                    Cart</a>
                <% end %>
              <% else %>
                <a href="/clients/sign_in" class="btn essence-btn">Add to Cart</a>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="single_widget_area d-flex mb-30">
          <div class="footer_widget_menu">
            <ul>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area mb-30">
          <ul class="footer_widget_menu">
            <li class="<%= 'hide' if !current_client %>"><a href="/all_orders">Your Orders</a></li>
            <li><a href="#">Shipping and Delivery</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-end">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_social_area">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script>
          All rights reserved.
        </p>
      </div>
    </div>

  </div>
</footer>
<script>
    var products = [];
    $(function () {
        $('#autoplay').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    })

    function saveData(product_id) {
        var style = "pointer-events:none; cursor:default;";
        document.getElementById(product_id).setAttribute("style", style);
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/cart/show",
            data: {
                product_id,
            },
            success: function (data) {
                document.getElementById("cert-value").innerHTML = data.count
                var link = document.getElementById("essenceCartBtn")
                link.href = "/cart/show_cart/" + data.cert_id
                $("#cart_partial").removeClass("hide");
            },
        })
    }
</script>
