<meta name="keywords" content="Cetisol Pharma, CetisolPharma, Cetisol Pharma, Ceuti Sol Pharma">
<meta content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-title" content="Ceutisol Pharma">
<meta name="application-name" content="Ceutisol Pharma">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Author" content="Ceutisol Pharma"/>
<meta name="copyright" content="Ceutisol Pharma"/>
<meta name="distribution" content="global">
<meta name="web_author" content="Ceutisol Pharma, Ceutisol Pharma, info@ceutisolpharma.com"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="google" content="sitelinkssearchbox"/>
<meta name='subject' content="Revitalize Your Skin with Ceutisol Pharma Skin Care">
<meta name="publisher" content="Revitalize Your Skin with Ceutisol Pharma Skin Care">
<meta name='Classification' content='Revitalize Your Skin with Ceutisol Pharma Skin Care'>
<meta name='coverage' content='Worldwide'>
<title><%= @title %></title>
<meta name="description" content="Discover the power of Ceutisol Pharma Skin Care for healthy and glowing skin. Our premium skincare products are infused with natural ingredients to nourish and revitalize your skin.
">
<main style="margin-top: 79px;">
  <section class="bg-img background-overlay">
    <div class=" h-100">
      <div class="h-100 align-items-center">
        <div class="col-12">
          <%= image_tag @cover_photo&.photo&.url, style: "width: 100% !important;"%>
        </div>
      </div>
    </div>
  </section>
  <div id="autoplay">
    <% @slid_images.each do |image| %>
      <%= image_tag image.image_url %>
    <% end %>
  </div>
  <div class="col-12">
    <div class="section-heading text-center" id="main-notif">
    </div>
  </div>
  <div class="row">
    <% @all_products.each do |product| %>
      <div class="col-lg-3 mt-4 mb-4">
<!--        <div class="top d-flex flex-row align-items-center">-->
          <%#= image_tag ("core-img/card_logo_cs.png"), class: "rounded-circle mr-2", width: "40", height: "70" %>
<!--          <h6 class="mb-0 mr-2">Product of Ceutisol</h6>-->
<!--          <i class="fa fa-opencart"></i>-->

<!--        </div>-->
        <div class="product-img">
          <%= image_tag product.photo_url rescue nil %>
        </div>
        <div class="product-description">
          <p class="product-type-name"> <%= product.product_type.name %></p>
          <%= link_to product_show_path(id: product.friendly_id) do %>
            <h5> <%= product.name %></h5>
          <% end %>
          <h5 class="card-subtitle"> <%= product.title %></h5>
          <p class="mt-2">PKR <%= product.price %></p>
          <div class="add-to-cart-btn">
            <% if current_client %>
              <% certs = current_client&.certs.find_by(ordered?: false) if current_client&.certs %>
              <% if certs && certs&.cert_products.pluck(:product_id).include?(product.id) %>
                <a id="<%= product.id %>" style="pointer-events:none; cursor:default; width: 100%; background: grey;" onclick="saveData(<%= product.id %>, <%= product.name %>)" class="btn essence-btn">Already
                  added</a>
                <!--                  <div class="bottom d-flex flex-row justify-content-center" style="border-bottom: 5px solid;">-->

                <!--                    <div class="input-group mb-3" style="width: 100% !important;">-->
                <!--                      <span class="input-group-text">-</span>-->
                <%# byebug %>
                <!--                      <input type="text" class="form-control" style="text-align: center;" value="<%#= certs&.cert_products.find_by(product_id: product.id).quantity %>">-->
                <!--                      <span class="input-group-text">+</span>-->
                <!--                    </div>-->
                <!--                  </div>-->
              <% else %>
                <a id="<%= product.id %>" onclick="saveData(<%= product.id %>, '<%= product.name %>')" class="btn essence-btn" style="width: 100%; background: #006D77;">Add
                  to
                  Cart</a>
              <% end %>
            <% else %>
              <!--                <div class="bottom d-flex flex-row justify-content-center">-->

              <!--                  <div class="input-group mb-3" style="width: 100% !important;">-->
              <!--                    <span class="input-group-text">+</span>-->
              <!--                    <input type="text" class="form-control" style="text-align: center;" value="1">-->
              <!--                    <span class="input-group-text">-</span>-->
              <!--                  </div>-->
              <!--                </div>-->
              <a href="/clients/sign_in" class="btn essence-btn" style="width: 100% !important; background: #006D77 !important;">Add
                to Cart</a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
<script>
    var products = [];
    // $(function () {
    //     $('#autoplay').slick({
    //         dots: true,
    //         infinite: true,
    //         speed: 300,
    //         slidesToShow: 2,
    //         arrows: true,
    //         autoplay: true,
    //         autoplaySpeed: 2000,
    //         adaptiveHeight: true
    //     });
    // })

    function saveData(product_id, product_name) {
        var style = "pointer-events:none; cursor:default; border-bottom: 5px solid black; width: 100%; background: grey;";
        document.getElementById(product_id).setAttribute("style", style);
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/cart/show",
            data: {
                product_id,
            },
            success: function (data) {
                var div = document.createElement("div");
                $(div).addClass('notif')
                div.innerHTML = product_name + " is added."
                document.getElementById("main-notif").appendChild(div);
                setTimeout(function () {
                    $(div).fadeOut('fast');
                }, 2000);
                document.getElementById("cert-value").innerHTML = data.count
                var link = document.getElementById("essenceCartBtn")
                link.href = "/cart/show_cart/" + data.cert_id
                $("#cart_partial").removeClass("hide");
            },
        })
    }
</script>
