<meta name="keywords" content="Cetisol Pharma, CetisolPharma, Cetisol Pharma, Ceuti Sol Pharma">
<meta content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-title" content="Ceutisol Pharma">
<meta name="application-name" content="Ceutisol Pharma">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Author" content="Ceutisol Pharma"/>
<meta name="copyright" content="Ceutisol Pharma"/>
<meta name="distribution" content="global">
<meta name="web_author" content="Ceutisol Pharma, Ceutisol Pharma, info@ceutisolpharma.com"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="google" content="sitelinkssearchbox"/>
<meta name='subject' content="Revitalize Your Skin with Ceutisol Pharma Skin Care">
<meta name="publisher" content="Revitalize Your Skin with Ceutisol Pharma Skin Care">
<meta name='Classification' content='Revitalize Your Skin with Ceutisol Pharma Skin Care'>
<meta name='coverage' content='Worldwide'>
<title><%= @title %></title>
<meta name="description" content="Discover the power of Ceutisol Pharma Skin Care for healthy and glowing skin. Our premium skincare products are infused with natural ingredients to nourish and revitalize your skin.
">
<main style="margin-top: 79px;">
  <section class="bg-img background-overlay" id="banner-image" style="margin-top: -18px;">
    <!-- WhatsApp Button -->
    <div id="whatsapp-widget" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
      <a href="https://wa.me/923414442230" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Chat with us on WhatsApp" style="width: 60px; height: 60px; border-radius: 50%;"/>
      </a>
    </div>
    <div class=" h-100">
      <div class="h-100 align-items-center">
        <div class="col-12">
          <% if @cover_photo %>
            <%= image_tag @cover_photo&.photo&.url, style: "width: 100% !important;" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-section-alt mt-1">
    <div class="cta-content-alt">
      <h2>Discover Our Best Products</h2>
      <p>Explore our range of products that prioritize your health and well-being. Find the right product for your needs today.</p>
      <a href="#" onclick="moveToAllProducts()" class="cta-button-alt">Browse Our Products</a>
    </div>
  </section>
  <div id="autoplay">
    <% @slid_images.each do |image| %>
      <%= image_tag image.image_url %>
    <% end %>
  </div>
  <div class="col-12">
    <div class="section-heading text-center" id="main-notif">
    </div>
  </div>
  <div class="row" id="all-products-section">
    <% @all_products.each do |product| %>
      <div class="col-lg-3 mt-4 mb-4">
        <div class="product-img">
          <%= image_tag product.photo_url rescue nil %>
        </div>
        <div class="product-description">
          <p class="product-type-name"> <%= product.product_type.name %></p>
          <%= link_to product_show_path(id: product.friendly_id) do %>
            <h5> <%= product.name %></h5>
          <% end %>
          <h5 class="card-subtitle"> <%= product.title %></h5>
          <p class="mt-2">PKR <%= product.price %></p>
          <div class="add-to-cart-btn">
            <% if current_client %>
              <% certs = current_client&.certs.find_by(ordered?: false) if current_client&.certs %>
              <% if certs && certs&.cert_products.pluck(:product_id).include?(product.id) %>
                <a id="<%= product.id %>" style="pointer-events:none; cursor:default; width: 100%; background: grey;" onclick="saveData(<%= product.id %>, <%= product.name %>)" class="btn essence-btn">Already
                  added</a>
              <% else %>
                <a id="<%= product.id %>" onclick="saveData(<%= product.id %>, '<%= product.name %>')" class="btn essence-btn" style="width: 100%; background: #006D77;">Add
                  to
                  Cart</a>
              <% end %>
            <% else %>
              <a href="/clients/sign_in" class="btn essence-btn" style="width: 100% !important; background: #006D77 !important;">Add
                to Cart</a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
<script>
    let isScrolling = false; // Flag to track if a scroll is already in progress
    function moveToAllProducts() {
        const section = document.getElementById('all-products-section');
        const headerHeight = document.getElementById('nav_header_area').offsetHeight; // Sticky header height
        const bannerHeight = document.getElementById('banner-image').offsetHeight; // Banner image height

        // Scroll to the section
        section.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
        });

        // Adjust scroll position after a short delay (to ensure scroll is finished)
        setTimeout(() => {
            window.scrollBy(0, -(headerHeight + bannerHeight)); // Adjust by both header and banner height
        }, 600); // Adjust this timeout delay if necessary
    }

    function saveData(product_id, product_name) {
        var style = "pointer-events:none; cursor:default; border-bottom: 5px solid black; width: 100%; background: grey;";
        document.getElementById(product_id).setAttribute("style", style);
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/cart/show",
            data: {
                product_id,
            },
            success: function (data) {
                var div = document.createElement("div");
                $(div).addClass('notif')
                div.innerHTML = product_name + " is added."
                document.getElementById("main-notif").appendChild(div);
                setTimeout(function () {
                    $(div).fadeOut('fast');
                }, 2000);
                document.getElementById("cert-value").innerHTML = data.count
                var link = document.getElementById("essenceCartBtn")
                link.href = "/cart/show_cart/" + data.cert_id
                $("#cart_partial").removeClass("hide");
            },
        })
    }
</script>
<style>
    .cta-section-alt {
        background-color: #E29578; /* Dark background for contrast */
        color: #fff;
        padding: 50px 0;
        text-align: center;
    }

    .cta-section-alt .cta-content-alt h2 {
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .cta-section-alt .cta-content-alt p {
        color: #fff;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .cta-section-alt .cta-button-alt {
        background-color: #006D77;
        /*color: #fff;*/
        padding: 12px 25px;
        font-size: 18px;
        text-decoration: none;
        border-radius: 25px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .cta-section-alt .cta-button-alt:hover {
        background-color: #006D77; /* Darker orange */
        transform: translateY(-3px);
    }

</style>