<div class="container">
  <h3>All orders</h3>
  <% @all_orders.each do |order| %>
    <div class="card mt-4 mb-4">
      Order Details
      <div class="card-body">
        <% order.order_products.each do |order_product| %>
          <div class="row pl-2 pr-2">
            <p>Product Name: <b class="pl-2 pr-2"><%= order_product.product.name %></b></p>
          </div>
          <div class="row pl-2 pr-2">
            <p>Product Quantity: <b class="pl-2 pr-2"><%= order_product.quantity %></b></p>
          </div>
          <div class="row pl-2 pr-2">
            <p>Product Total Price: <b class="pl-2 pr-2"><%= order_product.product_total_price %></b></p>
          </div>
        <% end %>
        <div class="row pl-2 pr-2">
          <p>Order Status: <b class="pl-2 pr-2"><%= order.status %></b></p>
        </div>
        <div class="row pl-2 pr-2">
          <p>Order Total: <b class="pl-2 pr-2"><%= order.order_total %></b></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


