<!DOCTYPE html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hey, <%= @user.name %></h1>
<p>
  Your order has been placed successfully.You have to pay <%= @order.order_total %> for your order.<br>
  Your order details are here:
  <% @order.order_products.each do |order_product| %>
    <br class="pt-2 pb-2">
    <b class="pl-2 pr-4"> <%= order_product.product.name %></b> : <%= order_product.quantity %>
  <% end %>
  <table>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    <% @order.order_products.each do |order_product| %>
      <tr>
        <br class="pt-2 pb-2">
        <td><b> <%= order_product.product.name %></b></td>
        <td><%= order_product.quantity %></td>
      </tr>
    <% end %>
  </table>
  <br>
  You can also view your order here : <a class="green-btn long-text" href="/order/<%= @order.id %>">
  <b>Order link</b>
</a>
  </p>
  <p>Thanks for ordering!</p>
  </body>
</html>