<!DOCTYPE html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div class="container">
  <div class="card card-body">
    <h3>Hey, <%= @user.name %></h3>
    <p>
      We’re happy to let you know that we’ve received your order.You have to pay <%= @order.order_total > 999 ? @order.order_total : @order.order_total.to_i + 100 %> for your
      order.<br>
      Your order details are here:
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      <% @order.order_products.each do |order_product| %>
        <tr>
          <td><b> <%= order_product.product.name %></b></td>
          <td><%= order_product.quantity %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <% if @order.order_total < 1000 %>
      <span>100 PKR of delivery charges also included in the total.</span>
    <% end %>
    You can also view your order here : <a class="green-btn long-text" href="https://www.ceutisolpharma.com/order/<%= @order.id %>">
    <b>Order link</b>
  </a>
    </p>
    <p>Thanks for ordering!</p>
  </div>
</div>
</body>
</html>
