<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div class="container">
  <div class="card card-body">
    <h3>Hey, <%= @user.name %></h3>
    <p>
      Your order has been shipped successfully.<br>
      Your order details are here:
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      <% @order.order_products.each do |order_product| %>
        <tr>
          <td><b> <%= order_product.product.name %></b></td>
          <td><%= order_product.quantity %></td>
        </tr>
      <% end %>
    </table>
    <br>
    You can also view your order here : <a class="green-btn long-text" href="/order/<%= @order.id %>">
    <b>Order link</b>
  </a>
    </p>
    <p>Thanks for ordering!</p>
    <br>
    <%= render 'layouts/footer' %>
  </div>
</div>
</body>
</html>
