<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

  <!-- Single Product Thumb -->
  <div class="single_product_thumb clearfix">
    <div class="product_thumbnail_slides owl-carousel">
     <%= image_tag @product.photo_url %>
    </div>
  </div>

  <!-- Single Product Description -->
  <div class="single_product_desc clearfix">
    <span>mango</span>
    <a href="cart.html">
      <h2><%= @product.name %></h2>
    </a>
    <p class="product-desc"><%= @product.product_type.name %></p>
    <p class="product-price">$<%= @product.price %></p>
    <p class="product-desc"><%= @product.description %></p>
    <p>Size : <%= @product.size %></p>
    <div class="select-box d-flex mt-10 mb-30">
      Quantity: <input class="ml-2" type="number" id="product_quantity">
    </div>
    <!-- Form -->
    <form class="cart-form clearfix" method="post">
      <!-- Cart & Favourite Box -->
      <div class="cart-fav-box d-flex align-items-center">
        <!-- Cart -->
        <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
        <!-- Favourite -->
        <div class="product-favourite ml-4">
          <a href="#" class="favme fa fa-heart"></a>
        </div>
      </div>
    </form>
  </div>
</section>
