<!DOCTYPE html>
<html>
<head>
  <!-- HTML Meta Tags -->
  <title>Revitalize Your Skin with Ceutisol Pharma Skin Care</title>
  <meta name="description" content="Discover the power of Ceutisol Pharma Skin Care for healthy and glowing skin. Our premium skincare products are infused with natural ingredients to nourish and revitalize your skin.
">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.ceutisolpharma.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Revitalize Your Skin with Ceutisol Pharma Skin Care">
  <meta property="og:description" content="Discover the power of Ceutisol Pharma Skin Care for healthy and glowing skin. Our premium skincare products are infused with natural ingredients to nourish and revitalize your skin.
">
  <meta property="og:image" content="https://www.ceutisolpharma.com/assets/core-img/cs_logo_land.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="ceutisolpharma.com">
  <meta property="twitter:url" content="https://www.ceutisolpharma.com/">
  <meta name="twitter:title" content="Revitalize Your Skin with Ceutisol Pharma Skin Care">
  <meta name="twitter:description" content="Discover the power of Ceutisol Pharma Skin Care for healthy and glowing skin. Our premium skincare products are infused with natural ingredients to nourish and revitalize your skin.
">
  <meta name="twitter:image" content="https://www.ceutisolpharma.com/assets/core-img/cs_logo_land.png">


  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag "application", media: "all" %>
  <!-- Google tag (gtag.js) -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GVJETMHGTF"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-GVJETMHGTF');
  </script>
  <% if ((controller.controller_path != "devise/sessions") && (controller.controller_path != "devise/registrations")) %>
    <%= render partial: 'layouts/header' %>
  <% end %>
</head>

<body class="d-flex flex-column min-vh-100" style="margin-top: 0px;">
<%= yield %>

<% if ((controller.controller_path != "devise/sessions") && (controller.controller_path != "devise/registrations")) %>
  <%= render 'layouts/footer' %>
<% end %>
</body>
</html>
